<!doctype html>
<html lang="en">

<head>
    <title>Gestion des produits du magasin</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>

<body>
        <div class="bg-dark text-light text-center">
                <h1 class="mx-auto py-5">Ajouter un produit</h1>
            </div>

    <div class="container text-center">
            <a class="btn btn-primary mx-auto my-5" href="/produits">Retour à la liste des produits</a>

        <div class="row m-5 ">

            <form class= "pb-4 mx-auto " action="/produits/save" method="POST">
                <div class="form-group">
                    <div class="col-sm-12 my-3">
                        <label for="colFormLabelSm" class="col-sm-5 col-form-label col-form-label-sm">Non du produit:</label>
                        <input class="col-sm-5" type="text" name="nomproduit" placeholder="nom du produit" />
                    </div>
                    <div class="col-sm-12 my-3">
                        <label for="colFormLabelSm" class="col-sm-5 col-form-label col-form-label-sm">Type:</label>
                        <input class="col-sm-5" type="text" name="type" placeholder="type" />
                    </div>
                    <div class="col-sm-12 my-3">
                        <label for="colFormLabelSm" class="col-sm-5 col-form-label col-form-label-sm">Prix:</label>
                        <input class="col-sm-5" type="number" name="prix" placeholder="prix" />
                    </div>
                    <div class="col-sm-12 my-3">
                        <label for="colFormLabelSm" class="col-sm-5 col-form-label col-form-label-sm">Quantité:</label>
                        <input class="col-sm-5" type="number" name="quantite" placeholder="quantité" />
                    </div>
                    <button type="submit" class="btn btn-secondary my-5">Ajouter</button>
                </div>
            </form>
           

        </div>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>





</html>