body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.back{

  background-image:url(../img/food.jpg);
  background-repeat:no-repeat;
  background-position:center center;
  margin-bottom: 70rem;
}
